<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <script th:src="@{/js/jquery-1.11.0.min.js}"></script>
<!-- ﻿<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>﻿ -->
</head>
<script th:inline="javascript">

// var obj = {
// 		'userID' : $("#userID").val(), 
// };

function idCheck(){
	if($('#userID').val() == ""){
		alert('아이디를 입력해주세요');
	}else{

		$.ajax ({
	
			type : "POST",                   			  // GET 또는 POST
			url : '/join/idCheck',         			 // 서버측에서 가져올 페이지
			data : {'userID' : $("#userID").val() },       // 서버측에 전달할 parameter
			timeout : 5000,               			    // 응답대기시간 
			dataType : 'JSON',               			// html , javascript, text, xml, jsonp 등이 있다
			success : function(data) {        			 // 정상적으로 완료되었을 경우에 실행된다
				alert("123"+data.result);            			 // data 인수에는 return 되어진 data 가 저장되어 있다
				console.log(data.result);
			},
			error : function(error) {  				 // 오류가 발생했을 때 호출된다. 
				alert("456"+error);
				console.log(error);
		    },
		});
	}
}
</script>
<body>
    회원가입페이지
    
    <form id="joinForm" action="join/member" method="post" >
    	<span>아이디</span><input type="text" id="userID" name="userID" required="required"/> <button type="button" th:onclick="javascript:idCheck();">중복확인</button><br/>
    	<span>비밀번호</span><input type="password" id="userPass" name="userPass" required="required"><br/>
    	<span>비밀번호 확인</span><input type="password" id="userPassCheck" name="userPassCheck" required="required"><br/>
    	<span>휴대폰 번호</span><input type="text" id="userPhone" name="userPhone" required="required"><br/>
    	<span>이메일</span><input type="email" id="userEmail" name="userEmail"  required="required"><br/>
    	<br/>
    	<input type="submit" value="가입하기">
    	
    </form>
</body>
</html>