<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <script th:src="@{/js/jquery-1.11.0.min.js}"></script>
    <script th:src="@{/js/member/member.js}"></script>
<!-- ﻿<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>﻿ -->
</head>
<script th:inline="javascript">

$(function(){
	 
	 var queryString =  $("#joinForm").serialize();
	
	$("#memberSubmit").click(function(){
		
		if( !$("#joinForm")[0].checkValidity() ) return;
		if( $("#userIdCheck").val() != 1 ) {
			alert('아이디 중복확인이 필요합니다.');
			return
		}
		if( $("#userIdchk").val() != $("#userID").val() ){
			alert('아이디 중복확인이 필요합니다.');
			return
		}
		if( $("#userPass").val() != $("#userPassCheck").val() ){
			alert('비밀번호가 다릅니다');
			return
		}
		if( $("#userPassChk").val() != 1 ){
			alert('비밀번호가 다릅니다');
			return
		}
		
		$("#joinForm").attr("onsubmit","true");
// 		$("#joinForm").submit();
		$.ajax ({
			
			type : "POST",                   			  
			url : '/join/member',         			
			data : queryString,       
			timeout : 5000,               			    
			dataType : 'JSON',               			
			success : function(obj) {        			 
				if(obj.result == 'ok'){
					alert(obj.msg);
					window.location.href = "/login";
				}else{
					alert(obj.msg);
					window.location.href = "/join";
				}
			},
			error : function(error) {  				 // 오류가 발생했을 때 호출된다. 
				 
		    },
		});


		
	});
});
	



function idCheck(){
	
	
	
	if($('#userID').val() == ""){
		alert('아이디를 입력해주세요');
	}else{

		$.ajax ({
	
			type : "POST",                   			  // GET 또는 POST
			url : '/join/idCheck',         			 // 서버측에서 가져올 페이지
			data : {'userID' : $("#userID").val() },       // 서버측에 전달할 parameter
			timeout : 5000,               			    // 응답대기시간 
			dataType : 'JSON',               			// html , javascript, text, xml, jsonp 등이 있다
			success : function(obj) {        			 // 정상적으로 완료되었을 경우에 실행된다
				if(obj.result == 'ok'){
					$("#userIdCheck").val(1);
					$("#userIdchk").val($("#userID").val());
					alert(obj.msg);
				 	location.href = '/login'	
				}else{
					$("#userIdCheck").val(0);
					alert(obj.msg);
				}
			},
			error : function(error) {  				 // 오류가 발생했을 때 호출된다. 
				alert("456"+error.msg);
				console.log(error);
		    },
		});
	}
}

function passChk() {
    var up = document.joinForm.userPass.value;
    var upc = document.joinForm.userPassCheck.value;
    if (up.length < 6 || upc.length > 16) {
        window.alert('비밀번호는 6글자 이상, 15글자 이하로 입력해주세요.');
        document.getElementById('userPass').value=document.getElementById('userPassCheck').value='';
        document.getElementById('passCheck').innerHTML='';
    }
    if(document.getElementById('userPass').value!='' && document.getElementById('userPassCheck').value!='') {
        if(document.getElementById('userPass').value==document.getElementById('userPassCheck').value) {
            document.getElementById('passCheck').innerHTML='비밀번호가 일치합니다.';
            document.getElementById('passCheck').style.color='blue';
            $("#userPassChk").val(1);
        }else {
            document.getElementById('passCheck').innerHTML='비밀번호가 일치하지 않습니다.';
            document.getElementById('passCheck').style.color='red';
            $("#userPassChk").val(0);
        }
    }
}


</script>
<body>
    회원가입페이지
    
    <form id="joinForm" name="joinForm" action="join/member" method="post" onsubmit="return false";>
    	<span>아이디</span><input type="text" id="userID" name="userID" maxlength="50" required="required"/> <button type="button" id="userIdCheck" th:value="0" th:onclick="javascript:idCheck();">중복확인</button><br/>
    	<span>비밀번호</span><input type="password" id="userPass" name="userPass" maxlength="15" onchange="passChk()" required="required"><br/>
    	<span>비밀번호 확인</span><input type="password" id="userPassCheck" name="userPassCheck" maxlength="15" required="required" onchange="passChk()"><br/>
    	<span id="passCheck"></span><br>
    	<span>휴대폰 번호</span>
    		<input type="text" id="userPhone1" name="userPhone1" maxlength="3" required="required" style="width:50px;">-
    		<input type="text" id="userPhone2" name="userPhone2" maxlength="4" required="required" style="width:50px;">-
    		<input type="text" id="userPhone3" name="userPhone3" maxlength="4" required="required" style="width:50px;">
    	<br/>
    	<span>이메일</span><input type="email" id="userEmail" name="userEmail" maxlength="50" required="required"><br/>
    	<br/>
    	<input type="hidden" id="userIdchk" name="userIdchk" value="">
    	<input type="hidden" id="userPassChk" name="userPassChk" value="0">
    	
    	<button id="memberSubmit">가입</button>
    	
    </form>
</body>
</html>